{% extends "::Layout/base.html.twig" %}

{% block title %}{{'header.menu.lab'|trans}}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('fancybox/source/jquery.fancybox.css?v=2.1.5') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('css/sliders/circular-catalogue/circular-catalogue.css') }}" type="text/css" media="all"/>
{% endblock %}
{% block body %}
    <div class="kl-slideshow circularcatalogue uh_zn_def_header_style" style=" height:700px;">
        <div class="bgback"></div>
        <div class="kl-bg-source">
            <div class="kl-bg-source__overlay" style="background-image:url({{ asset('images/sliders/laboratory.jpg') }});background-repeat:no-repeat;background-attachment:scroll;background-position-x:center;background-position-y:top;background-size:cover"></div>
        </div>
        <div class="ph-content-wrap ptop-170">
            <div class="ph-content-v-center">
                <div>
                    <div class="container">
                        <div class="row" style="padding:500px 0px ;">
                            <div class="col-sm-6">
                                <ul class="breadcrumbs fixclear">
                                    <li><a href="{{ path('Patient_homepage') }}">{{ 'header.menu.index'|trans }}</a></li>
                                    <li>{{ 'header.menu.lab'|trans }}</li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <div class="subheader-titles">
                                    <h2 class="subheader-maintitle"></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="th-sparkles"></div>
        <div class="kl-slideshow-inner container kl-slideshow-safepadding">
            <div class="row">
                <div class="ca-container" data-count="5"> 
                </div>
            </div>
        </div>
    </div>
    <section class="hg_section">
        <div class="hg_section_size container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="kl-title-block clearfix text-center tbk-symbol--border tbk-icon-pos--after-title">
                        <h3 class="tbk__title ">{{'header.menu.lab'|trans}}</h3>
                        <div class="tbk__symbol "><span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content" class="hg_section ptop-60">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div id="sidebar-widget" class="sidebar">
                        <div class="widget">
                            <h3 class="widgettitle title">{{ 'Medication.pc'|trans}}</h3>
                            <div class="widget_search">
                                <div class="search gensearch__wrapper">
                                    <form id="searchform" class="gensearch__form" action="{{ path('patient_search',{'role':5})}}" method="get" onSubmit="Gsitesearch(this)" >
                                        <input id="s" name="s" maxlength="20" class="inputbox gensearch__input" type="text" size="20" value="{{ 'header.head.sea'|trans}} ..." onblur="if (this.value == '')
                                                    this.value = '{{ 'header.head.sea'|trans}} ...';" onfocus="if (this.value == '{{ 'header.head.sea'|trans}} ...')
                                                                this.value = '';"/>
                                        <button type="submit" id="searchsubmit" value="go" class="gensearch__submit glyphicon glyphicon-search"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="kl-store_product_categories-2" class="widget kl-store widget_product_categories">
                            <h3 class="widgettitle title" style="margin-top:60px;">{{ 'Medication.ss'|trans}}</h3>
                            <ul class="product-categories">
                                {% for state in states %}
                                    <li class="cat-item">
                                        <a href="{{ path('patient_search_state',{'state':'tunis','role':5})}}">{{ state.state }}</a><span class="count">({{ state.nb }})</span>  
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>                         
                <div class="col-md-9 col-sm-12">
                    <div class="grid-ibx grid-ibx--cols-4 grid-ibx--style-lined-center grid-ibx--hover-shadow" >
                        <div class="grid-ibx__inner">
                            {% if utilisateurs|length != 0 %}
                                <div class="grid-ibx__row clearfix">
                                    {% for laboratory in utilisateurs %}   
                                        <div class="grid-ibx__item h-260">
                                            <div class="grid-ibx__item-inner">
                                                <div class="grid-ibx__title-wrp">
                                                    <h4 class="grid-ibx__title montserrat fs-16">{{ laboratory.username }}</h4>
                                                </div>
                                                <div class="grid-ibx__icon-wrp">
                                                    <a href="{{ path('Patient_Lab_description',{'id': laboratory.id}) }}" class="list fancybox.ajax"><span class="grid-ibx__icon glyphicon glyphicon-list-alt"></span></a>
                                                </div>
                                                <div class="grid-ibx__desc-wrp">
                                                    <p class="grid-ibx__desc">{{ laboratory.adress }} {{ laboratory.code}} ,{{laboratory.city}} {{laboratory.state}}<br> {{laboratory.tel}}</p>
                                                </div>
                                            </div>
                                        </div> 
                                    {% endfor %}
                                </div>
                                <div class="navigation">
                                    {{ knp_pagination_render(utilisateurs) }}
                                </div>

                            {% else %}
                                <div class="cd-fail-message">No results found</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('sliders/caroufredsel/jquery.carouFredSel-packed.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/sliders/caroufredsel/circular-catalogue/kl-circular-catalogue.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/_jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fancybox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fancybox/source/jquery.fancybox.pack.js?v=2.1.5') }}"></script>
    <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5') }}"></script>
    <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6') }}" ></script>  
    <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7') }}"></script>
    <script>
        $("#service").addClass("activeItem");
        $(".main-menu li#service").css("background", "#2980b8");
    </script>
    <script>
        $(document).ready(function () {
            $(".list").fancybox({
                maxWidth: 800,
                maxHeight: 1500,
                margin: 100,
                fitToView: true,
                width: '57%',
                height: '100%',
                autoCenter: true,
                autoResize: true,
                autoSize: false,
                closeClick: false,
                playSpeed: 2000,
                openMethod: 'zoomIn',
                closeMethod: 'zoomOut',
                openEffect: 'elastic',
                closeEffect: 'elastic'
            });
        });
    </script>
{% endblock %}