<html>
    <body>
        <p>id = {{id}}</p>
        <p> vous avez mettre a jour votre compte vers class {{classFact}} de prix {{prixFact}} en {{dateFact |date ('M d Y H:m')}} avec confirmation de votre tel {{telFact}}
    </body>
</html>


