<footer id="footer" style="z-index: 1;">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div>
                    <div class="sbs">
                        <ul class="menu">
                            <li><a href="#">{{ 'footer.app'|trans }}</a></li>
                            <li><a href="#">{{ 'footer.p'|trans }}</a></li>
                            <li><a href="#">{{ 'footer.n'|trans }}</a></li>
                            <li><a href="#">{{ 'footer.b'|trans }}</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">{{ 'footer.l'|trans }}</a></li>
                            <li><a href="#">{{ 'footer.a'|trans }}</a></li> 
                            <li><a href="#">{{ 'footer.h'|trans }}</a></li>
                            <li><a href="#">Notification</a></li>
                            <li><a href="#">{{ 'footer.c'|trans }}</a></li>
                        
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="newsletter-signup">
                    <h3 class="title m_title">{{ 'footer.newsl.t1'|trans }}</h3>
                    <p>{{ 'footer.newsl.p1'|trans }}</p>
                    <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <input type="email" value="" name="EMAIL" class="nl-email form-control" id="mce-EMAIL" placeholder="{{ 'footer.newsl.plh'|trans }}" required> 
                        <input type="submit" name="subscribe" class="nl-submit" id="mc-embedded-subscribe" value="{{ 'footer.newsl.b1'|trans }}"> 
                        <div style="position: absolute; left: -5000px;"> 
                            <input type="text" name="b_9ed253451c5b914e9c34e388b_6e3ba686ba" value=""> 
                        </div>
                    </form>
                    <div id="notification_container"></div>
                    <p>{{ 'footer.newsl.p2'|trans }}</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <h3 class="title m_title">{{ 'footer.info.t1'|trans }}</h3>
                    <div class="contact-details">
                        <p><strong>{{ 'footer.info.phone'|trans }}</strong><br>
                            Email: <a href="#">{{ 'footer.info.email'|trans }}</a>
                        </p>
                        <p>{{ 'footer.info.ltd'|trans }}<br> {{ 'footer.info.adress'|trans }}</p>
                        <p><a href="http://goo.gl/maps/1OhOu" target="_blank"><i class="icon-map-marker icon-white"></i>{{ 'footer.info.gm'|trans }}</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="bottom clearfix">
                    <ul class="social-icons sc--clean clearfix">
                        <li class="title">{{ 'footer.coon.so'|trans }}</li>
                        <li><a href="#" target="_self" class="" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_self" class="" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_self" class="" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" target="_blank" class="" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    <div class="copyright">
                        <a href=""><img src="{{ asset('images/logoFooter.png')}}" alt="Medical+" width="115" height="37"></a>
                        <p>© {{ 'footer.coon.right'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>