<link rel="stylesheet" type="text/css" href="{{ asset('css/template.css') }}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('css/responsive.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('css/base-sizing.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('css/updates.css') }}" type="text/css"/>
<link rel="stylesheet" href="{{ asset('css/custom.css') }}" type="text/css"/>
<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all"/>

<div class="col-sm-12" id="setting">
    <div class="contactForm">
        <form action="{{ path('medicament_edit',{'id':id}) }}" method="post" class="contact_form row" style="margin-top:-60px;" {{ form_enctype(edit_form) }}>
            <div class="cf_response"></div>
            {{ form_start(edit_form) }}
            <p class="col-sm-12 kl-fancy-form">
                {{ form_label(edit_form.nomMed)}}
                <label class="control-label" style="margin:79px 0 0 -5px;">{{'header.menu.prod.na'|trans}}</label>
            </p> 
            <p class="col-sm-12 kl-fancy-form">
                {{ form_label(edit_form.descriptionMed)}}
                <label class="control-label" style="margin:145px 0 0 -5px;">{{'header.menu.prod.des'|trans}}</label>
            </p>
            <p class="col-sm-12 kl-fancy-form">
                {{ form_label(edit_form.stockMed)}}
                <label class="control-label" style="margin:210px 0 0 -5px;">{{'header.menu.prod.sto'|trans}}</label>
            </p>
            <p class="col-sm-12 kl-fancy-form">
                {{ form_label(edit_form.prixMed)}}
                <label class="control-label" style="margin:277px 0 0 -5px;">{{'header.menu.prod.pr'|trans}}</label>
            </p>
            <p class="col-sm-12 kl-fancy-form">
                {{ form_label(edit_form.categorieMed)}}
                <label class="control-label" style="margin:340px 0 0 -5px;">{{'header.menu.prod.cat'|trans}}</label>
            </p>
            <p class="col-sm-12 kl-fancy-form">
                {{ form_label(edit_form.Create)}}
            </p>
            {{ form_end(edit_form) }}
        </form>
    </div>
</div>