<link rel="stylesheet" type="text/css" href="{{ asset('css/template.css') }}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('css/responsive.css') }}" type="text/css" media="all"/>
<link rel="stylesheet" href="{{ asset('css/base-sizing.css') }}" type="text/css" media="all"/>


<div class="col-sm-12" id="setting">
    <div class="contactForm">
        <form action="{{ path('medicament_new',{'id':app.user.id}) }}" method="post" class="contact_form row" style="margin-top:-80px;" {{ form_enctype(form) }}>
            <div class="cf_response"></div>
            {{ form_start(form) }}
            <p class="col-sm-12 kl-fancy-form">
                {{ form_label(form.nomMed)}}
                <label class="control-label" style="margin:88px 0 0 -5px;">{{'header.menu.prod.na'|trans}}</label>
            </p> 
            <p class="col-sm-12 kl-fancy-form">
                {{ form_label(form.descriptionMed)}}
                <label class="control-label" style="margin:155px 0 0 -5px;">{{'header.menu.prod.des'|trans}}</label>
            </p>
            <p class="col-sm-12 kl-fancy-form">
                {{ form_label(form.stockMed)}}
                <label class="control-label" style="margin:220px 0 0 -5px;">{{'header.menu.prod.sto'|trans}}</label>
            </p>
            <p class="col-sm-12 kl-fancy-form">
                {{ form_label(form.prixMed)}}
                <label class="control-label" style="margin:285px 0 0 -5px;">{{'header.menu.prod.pr'|trans}}</label>
            </p>
            <p class="col-sm-12 kl-fancy-form">
                {{ form_label(form.categorieMed)}}
                <label class="control-label" style="margin:350px 0 0 -5px;">{{'header.menu.prod.cat'|trans}}</label>
            </p>
            <p class="col-sm-12 kl-fancy-form">
                {{ form_label(form.file)}}
            </p>
            <p class="col-sm-12 kl-fancy-form">
                {{ form_label(form.Create)}}
            </p>
            {{ form_end(form) }}
        </form>
    </div>
</div>

