<div class="col-sm-12 col-md-12">
    <div class="fancy_register_form register-form" style="margin-top: -80px;">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password contact_form row' } }) }}
        <div class="cf_response"></div>
        {{ form_start(form) }}
        <p class="col-sm-12 kl-fancy-form">
            {{ form_label(form.current_password)}}
            <label class="control-label" style="margin:94px 0 0 -5px;">{{'index.form.current'|trans}}</label>
        </p>
        <p class="col-sm-12 kl-fancy-form">
            {{ form_label(form.new)}}
            <label class="control-label" style="margin:149px 0 0 -5px;">{{'index.form.new'|trans}}</label>
        </p>
        <p class="col-sm-12 kl-fancy-form">
            {{ form_label(form.new)}}
            <label class="control-label" style="margin:204px 0 0 -5px;">{{'index.form.cnew'|trans}}</label>
        </p>
        <p class="col-sm-12 kl-fancy-form">
            {{ form_label(form.update) }}
        </p>
        {{ form_end(form) }}
    </div>
</div>