{% extends "::Layout/base.html.twig" %}

{% block title %}{{ 'header.menu.news'|trans }}{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/jquery.fileupload.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('fancybox/source/jquery.fancybox.css?v=2.1.5') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7') }}" type="text/css" media="screen" />
{% endblock %}
{% block body %}
    <div id="dp-js-header-helper" style="height:0 !important; display:none !important;"></div>
    <div id="page_header" class="page-subheader site-subheader-cst maskcontainer--mask3 min-300" style="width:auto; height:670px;">
        <div class="bgback"></div>
        <div class="kl-bg-source">
            <div class="kl-bg-source__overlay" style="background-image:url({{ asset('images/sliders/ios-alt-01.jpg') }}); background-repeat:no-repeat;background-attachment:scroll;background-position-x:center;background-position-y:top;background-size:cover"></div>
        </div>
        <div class="th-sparkles"></div>
        <div class="ph-content-wrap ptop-170">
            <div class="ph-content-v-center">
                <div>
                    <div class="container">
                        <div class="row" style="padding:320px 0px ;">
                            <div class="col-sm-6">
                                <ul class="breadcrumbs fixclear">
                                    <li><a href="{{ path('Patient_homepage') }}">{{ 'header.menu.index'|trans }}</a></li>
                                    <li>{{ 'header.menu.news'|trans }}</li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="subheader-titles">
                                    <h2 class="subheader-maintitle"></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kl-bottommask kl-bottommask--mask3">
            <svg width="5000px" height="57px" class="svgmask " viewBox="0 0 5000 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask3">
                        <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                        <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                        <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                        <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                        <feMerge>
                            <feMergeNode in="SourceGraphic"></feMergeNode>
                            <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                        </feMerge>
                    </filter>
                </defs>
                <path d="M9.09383679e-13,57.0005249 L9.09383679e-13,34.0075249 L2418,34.0075249 L2434,34.0075249 C2434,34.0075249 2441.89,33.2585249 2448,31.0245249 C2454.11,28.7905249 2479,11.0005249 2479,11.0005249 L2492,2.00052487 C2492,2.00052487 2495.121,-0.0374751261 2500,0.000524873861 C2505.267,-0.0294751261 2508,2.00052487 2508,2.00052487 L2521,11.0005249 C2521,11.0005249 2545.89,28.7905249 2552,31.0245249 C2558.11,33.2585249 2566,34.0075249 2566,34.0075249 L2582,34.0075249 L5000,34.0075249 L5000,57.0005249 L2500,57.0005249 L1148,57.0005249 L9.09383679e-13,57.0005249 Z" class="bmask-bgfill" filter="url(#filter-mask3)" fill="#f5f5f5"></path>
            </svg>
            <i class="glyphicon glyphicon-chevron-down"></i> 
        </div>
    </div>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <section class="hg_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="zn_blog_archive_element">
                        <div class="itemListView clearfix eBlog">
                            <div class="itemList zn_blog_columns">
                                {% for article in articles %}
                                    <div class="col-sm-6 col-lg-4 blog-isotope-item">
                                        <div class="itemContainer zn_columns zn_columns3 post-1000">
                                            <div class="itemThumbnail">
                                                <a href="{{ path('medical_news_article',{'id':article.id,'user':article.username,'categorie':article.nomCat}) }}">
                                                    <img width="760" height="508" src="{{ asset('uploads/article/'~article.photoArt) }}" class="wp-post-image" alt="{{ article.titre }}"></a>
                                                <div class="overlay">
                                                    <div class="overlay__inner"><a href="{{ asset('uploads/article/'~article.photoArt) }}" class="readMore" title="" data-readmore="{{ 'header.menu.newss.rm'|trans }}"></a></div>
                                                </div>
                                            </div>
                                            <div class="itemHeader">
                                                <h3 class="itemTitle"><a href="{{ path('medical_news_article',{'id':article.id,'user':article.username,'categorie':article.nomCat}) }}">{{ article.titre }}</a> <span style="font-size:12px;padding-left:90px;">{{article.commentaireArt}} {{ 'header.menu.newss.comm'|trans }}</span></h3>
                                                <div class="post_details"><span class="catItemDateCreated"><span class="glyphicon glyphicon-calendar"></span> {{ article.dateArt | date('l jS F Y')}}</span><span class="catItemAuthor"> {{ 'header.menu.newss.by'|trans }} <a href="#" title="Posts by danut" rel="author">{{ article.username }}</a></span></div>
                                            </div>
                                            <div class="itemBody">
                                                <div class="itemIntroText">
                                                    <p>{{ article.contenuArt | truncate(60, false, '...')}}</p>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <ul class="itemLinks clearfix">
                                                <li class="itemCategory"><span class="glyphicon glyphicon-folder-close"></span><span>{{ 'header.menu.newss.pub'|trans }}</span><a href="#{{ path('medical_news_categorie',{'categorie':article.nomCat})}}" rel="category tag">{{article.nomCat}}}</a></li>
                                            </ul>
                                            <div class="clear"></div>
                                            <div class="itemTagsBlock">
                                                <span class="glyphicon glyphicon-tags"></span><span>{{ 'header.menu.newss.tag'|trans }}: </span><a href="#" rel="tag">capital</a>, <a href="#" rel="tag">markets</a>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">                                                           
                <ul>
                    <li>{{ knp_pagination_render(articles) }}</li>
                </ul>
            </div> 
        </div>
        {% if(app.user.nombre>0) %}
            <a href="{{ path('medical_add_article') }}" id="add" style="margin-left:-50px;" class="fancybox.ajax">ARTICLE</a>
        {% endif %}
    </div>
</section>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{{ asset('js/jquery.isotope.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/_jquery-ui-1.10.3.custom.min.js') }}"></script>        
    <script type="text/javascript" src="{{ asset('fancybox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('fancybox/source/jquery.fancybox.pack.js?v=2.1.5') }}"></script>
    <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5') }}"></script>
    <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6') }}" ></script>  
    <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7') }}"></script>
    <script>
        $("#news").addClass("activeItem");
        $(".main-menu li#news").css("background", "#2980b8");
    </script>
    <script>
        $(function () {
            $("#add").fancybox({
                maxWidth: 500,
                maxHeight: 400,
                margin: [150, 0, 20, 0],
                fitToView: true,
                width: '57%',
                height: '100%',
                autoCenter: true,
                autoResize: true,
                autoSize: false,
                closeClick: false,
                playSpeed: 2000,
                openMethod: 'zoomIn',
                closeMethod: 'zoomOut',
                openEffect: 'elastic',
                closeEffect: 'elastic'
            });
        });
    </script>
{% endblock %}