<!doctype html>
<html lang="en-US" class="no-js">
    <head>
        <title>{% block title %} {% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
        <meta name="keywords" content="premium html template, unique premium template, multipurpose template"/>
        <meta name="description" content="Kallyas is an ultra-premium, responsive theme built for todays websites. Create your website, fast.">
        <link rel="canonical" href="index.html"/>  
        <meta name="robots" content="noodp,noydir"/>
        <link rel="author" href="https://plus.google.com/[Google+_Profile]/posts"/>
        <link rel="publisher" href="https://plus.google.com/[Google+_Page_Profile]"/>
        <meta itemprop="name" content="Kallyas Premium Template">
        <meta itemprop="description" content="This is the page description">
        <meta itemprop="image" content="">
        <meta property="og:locale" content="en"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Kallyas Premium Template"/>
        <meta property="og:description" content="Kallyas is an ultra-premium, responsive theme built for todays websites."/>
        <meta property="og:site_name" content="Kallyas Premium Template"/>
        <meta property="og:url" content=""/>
        <meta property="og:image" content=""/>
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="">
        <meta name="twitter:domain" content="hogash.com">
        <meta name="twitter:site" content="@hogash">
        <meta name="twitter:creator" content="@hogash">
        <meta name="twitter:url" content="">
        <meta name="twitter:title" content="How to Create a Twitter Card">
        <meta name="twitter:description" content="Twitter's new Twitter Cards API allows developers to add META tags to their website, and Twitter will build card content from links to a given site.">
        <meta name="geo.placename" content="Chicago, IL, USA"/>
        <meta name="geo.position" content="41.8781140;-87.6297980"/>
        <meta name="geo.region" content="US-Illinois"/>
        <meta name="ICBM" content="41.8781140, -87.6297980"/>
        <link rel="schema.DC" href="http://purl.org/DC/elements/1.0/"/>
        <meta name="DC.Title" content="Kallyas Premium Template, Kallyas Responsive Template"/>
        <meta name="DC.Creator" content="hogash"/>
        <meta name="DC.Type" content="software"/>
        <meta name="DC.Date" content="2016-10-01"/>
        <meta name="DC.Format" content="text/html"/>
        <meta name="DC.Language" content="en"/>
        <link rel="apple-touch-icon" href="{{ asset('images/favicons/apple-touch-icon-144-precomposed.html') }}" sizes="144x144">
        <link rel="apple-touch-icon" href="{{ asset('images/favicons/apple-touch-icon-114-precomposed.html') }}" sizes="114x114">
        <link rel="apple-touch-icon" href="{{ asset('images/favicons/apple-touch-icon-72-precomposed.html') }}" sizes="72x72">
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon-57-precomposed.html') }}" sizes="57x57">
        <link rel="icon" type="image/png" href="{{ asset('images/favicons/favicon-16x16.png') }}" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ asset('images/favicons/favicon-32x32.html') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('images/favicons/favicon-96x96.html') }}" sizes="96x96">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,600italic,700,800,800italic" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="all" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" media="all">
        <link rel="stylesheet" href="{{ asset('css/template.css') }}" type="text/css" media="all">
        <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" type="text/css" media="all">
        <link rel="stylesheet" href="{{ asset('css/base-sizing.css') }}" type="text/css" media="all">
        <link rel="stylesheet" href="{{ asset('css/updates.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}" type="text/css"/>
    </head>
    <body class="kl-store kl-store-page single-product">
    {% block help %}{% endblock %}
    <div id="page_wrapper">
    {% block menu %}{% endblock %}
    <div id="page_header" class="page-subheader zn_def_header_style maskcontainer--mask3" style="height:776px;">
        <div class="bgback"></div>
        <div class="th-sparkles"></div>
        <div class="kl-bg-source">
            <div class="kl-bg-source__overlay picture" style="background-image: url({{ asset('images/sliders/shop.jpg') }});"></div>
        </div>
        <div class="ph-content-wrap">
            <div class="ph-content-v-center">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6" style="padding:220px 0px ;">
                                <ul class="breadcrumbs fixclear">
                                    <li><a href="{{ path('Patient_homepage')}}">Home</a></li>
                                    <li>CART</li>
                                </ul>
                                    <span id="current-date" class="subheader-currentdate"><h1>August 25, 2016</h1></span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-sm-6" style="padding:220px 0px ;">
                                <div class="subheader-titles">
                                    <h2 class="subheader-maintitle" style="text-shadow: 1px 1px 5px black; font-size: 32px;">STORE CART</h2>
                                    <h4 class="subheader-subtitle" style="text-shadow: 1px 1px 5px black; font-size: 32px;">YOUR PERSONAL BASKET</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kl-bottommask kl-bottommask--mask3">
            <svg width="5000px" height="57px" class="svgmask " viewBox="0 0 5000 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
            <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask3">
                <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                <feGaussianBlur stdDeviation="2" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                <feMerge>
                    <feMergeNode in="SourceGraphic"></feMergeNode>
                    <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                </feMerge>
            </filter>
            </defs>
            <path d="M9.09383679e-13,57.0005249 L9.09383679e-13,34.0075249 L2418,34.0075249 L2434,34.0075249 C2434,34.0075249 2441.89,33.2585249 2448,31.0245249 C2454.11,28.7905249 2479,11.0005249 2479,11.0005249 L2492,2.00052487 C2492,2.00052487 2495.121,-0.0374751261 2500,0.000524873861 C2505.267,-0.0294751261 2508,2.00052487 2508,2.00052487 L2521,11.0005249 C2521,11.0005249 2545.89,28.7905249 2552,31.0245249 C2558.11,33.2585249 2566,34.0075249 2566,34.0075249 L2582,34.0075249 L5000,34.0075249 L5000,57.0005249 L2500,57.0005249 L1148,57.0005249 L9.09383679e-13,57.0005249 Z" class="bmask-bgfill" filter="url(#filter-mask3)" fill="#f5f5f5"></path>
            </svg>
            <i class="glyphicon glyphicon-chevron-down"></i> 
        </div>
    </div>

{% block body %}{% endblock %}
<div style="padding-bottom: 200px;"></div>
{% include '::module/footer.html.twig' %}
</div>
<a href="#" id="totop">TOP</a>
{% block javascript %} {% endblock %}
<script type="text/javascript" src="{{ asset('js/vendor/modernizr.min.js') }}"></script>
<script src="../../ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js') }}"></script>
<script>window.jQuery || document.write('<script src="{{ asset('js/vendor/jquery-1.10.1.min.js') }}">\x3C/script>')</script>
<script src="../../code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/kl-plugins.js') }}"></script>
<script type="text/javascript" src="{{ asset('addons/smoothscroll/smoothscroll.js') }}"></script>
<script type="text/javascript" src="{{ asset('addons/magnific_popup/jquery.magnific-popup.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/kl-scripts.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/kl-custom.js') }}"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-68601930-1', 'auto');
    ga('send', 'pageview');</script><script>
        ChatraID = '4mBZYK7ytcuz7Jf4h';
        (function (d, w, c) {
            var n = d.getElementsByTagName('script')[0],
                    s = d.createElement('script');
            w[c] = w[c] || function () {
                (w[c].q = w[c].q || []).push(arguments);
            };
            s.async = true;
            s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:')
                    + '//call.chatra.io/chatra.js';
            n.parentNode.insertBefore(s, n);
        })(document, window, 'Chatra');
</script>
</body>
</html>
