<ul class="services_box__list">
    <li>
        <span class="champ-doctor">{{'header.menu.profil.dn'|trans}} : </span>
        <span class="description-doctor">{{ app.user.firstname }} {{ app.user.lastname }}</span>
    </li>
    <li>
        <span class="champ-doctor">{{'header.menu.profil.cn'|trans}} : </span>
        <span class="description-doctor">{{ app.user.entrepriseName }}</span>
    </li>
    <li>
        <span class="champ-doctor">{{'header.menu.profil.b'|trans}} : </span>
        <span class="description-doctor">{{app.user.day }}-{{ app.user.month }}-{{app.user.year}} </span>
    </li>
    <li>
        <span class="champ-doctor">Email : </span>
        <span class="description-doctor">{{ app.user.email }}</span>
    </li>
    <li>
        <span class="champ-doctor">{{'header.menu.profil.ad'|trans}} : </span>
        <span class="description-doctor"> {{ app.user.adress }} , {{app.user.city}} {{app.user.code}},{{app.user.state}} </span>
    </li>
    <li>
        <span class="champ-doctor">{{'header.menu.profil.p'|trans}} : </span>
        <span class="description-doctor">+(216) {{ app.user.tel }} </span>
    </li>

    <li>
        <span class="champ-doctor">{{'header.menu.profil.s'|trans}} : </span>
        <span class="description-doctor">{{ app.user.speciality }} </span>
    </li>
</ul>