{% extends "::Layout/base.html.twig" %}

{% block title %}APPOINTMENT{% endblock %}
{% block stylesheet %} 
    <link rel="stylesheet" href="{{ asset('fancybox/source/jquery.fancybox.css?v=2.1.5') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7') }}" type="text/css" media="screen" />
    <link href="{{ asset('js/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('js/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('js/datatables/fixedHeader.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('js/datatables/responsive.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('js/datatables/scroller.bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/customT.css" rel="stylesheet') }}"/>
    <link href="{{ asset('css/icheck/flat/green.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/theme.default.min.css') }}" rel="stylesheet"/>
    <style>
        @media screen and (min-width: 992px) {
            .chaser {
                display: block;
                background: rgba(0, 0, 0, 1);
                padding: 0;
                position: fixed;
                left: -2999px;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 99999;
                opacity: 0;
                -webkit-transform: translateY(-30px);
                -ms-transform: translateY(-30px);
                transform: translateY(-30px);
                -webkit-transition: opacity .15s ease-in-out, -webkit-transform .15s ease-in-out;
                transition: opacity .15s ease-in-out, transform .15s ease-in-out
            }
        </style>
    {% endblock %}

    {% block body %}
        <div id="dp-js-header-helper" style="height:0 !important; display:none !important;"></div>
        <div class="kl-slideshow static-content__slideshow uh_light_gray scrollme">
            <div class="kl-slideshow-inner static-content__wrapper static-content--height h-600">
                <div class="static-content__source animateme" data-when="span" data-from="0" data-to="0.75" data-easing="linear" data-translatey="300" data-opacity="0.1" style="opacity: 1; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">
                    <div class="kl-bg-source">
                        <div class="kl-bg-source__bgimage">
                            <img src="{{ asset('images/sliders/secretary-slider-1.jpg') }}" style="background-repeat:no-repeat;background-attachment:scroll;background-position-x:center;background-position-y:center;background-size:cover;"/>
                        </div>
                        <div class="kl-bg-source__overlay" style="background-color:rgba(0,0,130,0.3)"></div>
                    </div>
                    <div class="th-sparkles"></div>
                </div>
                <div class="static-content__inner container">
                    <div class="kl-slideshow-safepadding sc__container animateme ptop-220" data-when="span" data-from="0" data-to="0.75" data-translatey="200" data-opacity="0.1" data-easing="linear" style="opacity: 1; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">
                        <div class="static-content default-style">
                            <h3 class="static-content__subtitle text-left"><span class="fw-thin">{{ 'cabine.slider.p1'|trans }} <span class="fw-semibold"> {{ 'cabine.slider.p2'|trans }} <span data-rel="tooltip" data-placement="top" title="" data-animation="true" data-original-title="Highly premium actually"></span></span><br>{{ 'cabine.slider.p3'|trans }}</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id="content" class="hg_section ptop-60">
            <div class="container">
                <div class="row">
                    <div class="right_sidebar col-md-12" style="margin-right: -100px;">
                        <div class="kl-title-block clearfix text-left tbk-symbol--line tbk-icon-pos--after-title">
                            <h2 class="tbk__title montserrat fs-34 fw-semibold black">{{ 'cabine.slider.t1'|trans }}</h2>
                            <span class="tbk__symbol "><span></span></span>
                            <h4 class="tbk__subtitle fs-22 fw-thin">{{ 'cabine.slider.t2'|trans }} </h4>
                        </div>
                        <div class="text_box">
                            <div class="kl-store">
                                <div class="col-xs-12 col-md-4 col-md-offset-8 col-lg-3 col-lg-offset-9">
                                    <div id="pager" class="pager">
                                        <form>
                                            <span class="first glyphicon glyphicon-step-backward"></span>
                                            <span class="prev glyphicon glyphicon-backward"/>
                                            <input class="pagedisplay"/>
                                            <span class="next glyphicon glyphicon-forward"></span>
                                            <span class="last glyphicon glyphicon-step-forward"></span>
                                            <select class="pagesize">
                                                <option selected="selected"  value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                                <option  value="40">40</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <form action="#" method="post" class="mb-50">
                                    <table class="shop_table cart sortTable" cellspacing="0">
                                        <thead style="color: #fff; text-transform: uppercase;font-size: 12px;border-radius: 3px;">
                                            <tr>
                                                <th class="product-thumbnail" style="background-color: #2980b8; color: white; font-weight: 600;padding: 15px 0;border-radius: 5px 0 0;">CIN</th>
                                                <th class="product-name" style="background-color: #2980b8; color: white; font-weight: 600;padding: 15px 0;">{{ 'cabine.table.fn'|trans }}</th>
                                                <th class="product-price" style="background-color: #2980b8; color: white; font-weight: 600;padding: 15px 0 ;">{{ 'cabine.table.ln'|trans }}</th>
                                                <th class="product-price" style="background-color: #2980b8; color: white; font-weight: 600;padding: 15px 0;">{{ 'cabine.table.ph'|trans }}</th>
                                                <th class="product-quantity" style="background-color: #2980b8; color: white; font-weight: 600;padding: 15px 0;">EMAIL</th>
                                                <th class="product-subtotal" style="background-color: #2980b8; color: white; font-weight: 600;padding: 15px 0;">DATE</th>
                                                <th class="product-subtotal" style="background-color: #2980b8; color: white; font-weight: 600;padding: 15px 0;">{{ 'cabine.table.cn'|trans }}</th>
                                                <th class="product-remove" style="background-color: #2980b8; color: white; font-weight: 600;padding: 15px 0;border-radius: 0 5px 0 0;">ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for rendez in rendezVous|reverse %}
                                                <tr class="cart_item" style="background-color:white;">
                                                    <td class="product-thumbnail"><a href="">{{ rendez.cinRv }}</a></td>
                                                    <td class="product-name"><a href="">{{ rendez.firstnameRv }}</a></td>
                                                    <td class="product-name"><a href="">{{ rendez.lastnameRv }}</a></td>
                                                    <td class="product-name"><a href=""> {{ rendez.telRv }} </a></td>
                                                    <td class="product-name"><a href="">{{ rendez.emailRv }}</a></td>
                                                    <td class="product-name">
                                                        <a href="">{{ rendez.dateRv }}</a>
                                                        <dl class="variation">
                                                            {% if rendez.minuteRv ==0%}
                                                                <dt class="variation-color">{{ rendez.heureRv }}h{{ rendez.minuteRv }}0</dt>
                                                            {% else %}
                                                                <dt class="variation-color">{{ rendez.heureRv }}h{{ rendez.minuteRv }}</dt>
                                                            {% endif %}
                                                        </dl>
                                                    </td>
                                                    {% if (rendez.etatRv == "accepted")%}
                                                        <td class="product-name"><a href="">{{'appointment.etat.ac'|trans }}</a></td>
                                                        {% else %}   
                                                        <td class="product-name"><a href="">{{ 'appointment.etat.rw'|trans}}</a></td>
                                                        {% endif %}
                                                    <td class="product-remove">
                                                        <a href="{{ path('modif_book' ,{'id':rendez.id}) }}" class="Edit various fancybox.ajax" title="Edit this item" data-product_id="22" data-product_sku=""><span class="glyphicon glyphicon-cog" style="color:#2980b8; font-size:14px;margin-left:5px;"></span></a>
                                                            {% if (rendez.etatRv != "accepted") %}
                                                            <a href="{{ path('accept_book' ,{'id':rendez.id}) }}" class="" title="Add this item" data-product_id="22" data-product_sku=""><span class="glyphicon glyphicon-ok" style="color:#2980b8;font-size:14px;margin-left:5px;"></span></a> 
                                                            {% endif %}
                                                        <a href="{{ path('delete_book' ,{'id':rendez.id}) }}" class="" title="Remove this item"><span class="glyphicon glyphicon-remove" style="color:#2980b8; font-size:14px;"></span></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    {% endblock %}

    {% block javascript %}
        <script type="text/javascript" src="{{ asset('sliders/caroufredsel/jquery.carouFredSel-packed.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/kl-recent-work-carousel.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/kl-logo-carousel.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.cookie.js') }}"></script>
        <script type="text/javascript" src='{{ asset('js/moment.min.js') }}'></script>
        <script type="text/javascript" src='{{ asset('js/jquery.min.js') }}'></script>
        <script type="text/javascript" src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.tablesorter.widgets.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/_jquery-ui-1.10.3.custom.min.js') }}"></script>        
        <script type="text/javascript" src="{{ asset('fancybox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>
        <script type="text/javascript" src="{{ asset('fancybox/source/jquery.fancybox.pack.js?v=2.1.5') }}"></script>
        <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5') }}"></script>
        <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6') }}" ></script>  
        <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7') }}"></script>
        <script>
            $(function () {
                $('.sortTable').tablesorter({
                    widgets: ["uitheme", "columns", "filter", "resizable", "stickyHeaders"],
                    headers: {
                        0: {
                            sorter: 'number',
                            filter: true
                        },
                        1: {
                            sorter: "digit",
                            filter: true
                        },
                        2: {
                            sorter: "digit",
                            filter: true
                        },
                        3: {
                            sorter: "text",
                            filter: true
                        }
                        ,
                        4: {
                            sorter: "text",
                            filter: true
                        },
                        5: {
                            sorter: "shortDate",
                            filter: true
                        },
                        6: {
                            sorter: "text",
                            filter: true
                        },
                        7: {
                            sorter: "hidden",
                            filter: false
                        }
                    },
                    usNumberFormat: false,
                    sortReset: true,
                    sortRestart: true
                }).tablesorterPager({container: $("#pager")});
            });
        </script>
        <script>
            $("#depointment").addClass("activeItem");
            $(".main-menu li#depointment").css("background", "#2980b8");
        </script>
        <script src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
        <script src="{{ asset('js/jquery.tablesorter.widgets.min.js') }}"></script>
        <script src="{{ asset('js/jquery.tablesorter.pagination.js') }}"></script>

        <script>
            $(function () {
                $(".Edit").fancybox({
                    maxWidth: 800,
                    maxHeight: 1000,
                    margin: 100,
                    fitToView: false,
                    width: '57%',
                    height: '100%',
                    autoCenter: true,
                    autoResize: true,
                    autoSize: true,
                    closeClick: false,
                    playSpeed: 2000,
                    openMethod: 'zoomIn',
                    closeMethod: 'zoomOut',
                    openEffect: 'elastic',
                    closeEffect: 'elastic'
                });
            });
        </script>

    {% endblock %}
