<ul class="services_box__list">
    <li>
        <span class="champ-doctor">{{'header.menu.profil.u'|trans}} : </span>
        <span class="description-doctor">{{ app.user.username}}</span>
    </li>
    <li>
        <span class="champ-doctor">{{'header.menu.profil.fn'|trans}} : </span>
        <span class="description-doctor">{{ app.user.firstname}}</span>
    </li>
    <li>
        <span class="champ-doctor">{{'header.menu.profil.ln'|trans}} : </span>
        <span class="description-doctor">{{ app.user.lastname}}</span>
    </li>
    <li>
        <span class="champ-doctor">{{'header.menu.profil.s'|trans}} : </span>
        <span class="description-doctor">{{ app.user.sex}}</span>
    </li>
    <li>
        <span class="champ-doctor">{{'header.menu.profil.b'|trans}} : </span>
        <span class="description-doctor">{{ app.user.month}} {{app.user.day}} {{app.user.year}}</span>
    </li>
    <li>
        <span class="champ-doctor">Email : </span>
        <span class="description-doctor">{{ app.user.email}}</span>
    </li>
    <li>
        <span class="champ-doctor">{{'header.menu.profil.ad'|trans}} : </span>
        <span class="description-doctor"> {{ app.user.adress}}</span>
    </li>
    <li>
        <span class="champ-doctor">{{'header.menu.profil.p'|trans}} : </span>
        <span class="description-doctor">{{ app.user.tel}}</span>
    </li>
</ul>