<div class="recentwork_carousel recentwork_carousel_v3">
        <div class="container recentwork_carousel__top-container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="recentwork_carousel__title m_title">SEARCH BY SPECIALITY</h3>
                    <div class="controls recentwork_carousel__controls"> <a href="#" class="prev recentwork_carousel__prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a href="#" class="next recentwork_carousel__next"><span class="glyphicon glyphicon-chevron-right"></span></a> </div>
                </div>
            </div>
        </div>
        <div class="recentwork_carousel__crsl-wrapper">
            <ul class="recent_works3 fixclear recentwork_carousel__crsl" id="portfolio-nav">
                <li>
                    <a href="portfolio-item.html" class="recentwork_carousel__link" data-filter=".*">
                        <div class="hover recentwork_carousel__hover">
                            <div style="height: 280px; background-image:url({{ asset('images/frame-270x203.jpg') }});" class="recentwork_carousel__img"></div>
                            <span class="hov recentwork_carousel__hov"></span>
                        </div>
                        <div class="details recentwork_carousel__details">
                            <span class="recentwork_carousel__cat">Miscellaneous , WEB</span>
                            <h4 class="recentwork_carousel__crsl-title">Go forward applications</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="portfolio-item.html" class="recentwork_carousel__link" data-filter=".apps_sort">
                        <div class="hover recentwork_carousel__hover">
                            <div style="height: 280px; background-image:url({{ asset('images/ptf1-270x203.png') }});" class="recentwork_carousel__img"></div>
                            <span class="hov recentwork_carousel__hov"></span>
                        </div>
                        <div class="details recentwork_carousel__details">
                            <span class="recentwork_carousel__cat">Apps , eCommerce , WEB</span>
                            <h4 class="recentwork_carousel__crsl-title">Progressively harness</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="portfolio-item.html" class="recentwork_carousel__link" data-filter=".branding_sort">
                        <div class="hover recentwork_carousel__hover">
                            <div style="height: 280px; background-image:url({{ asset('images/graph3-270x203.png') }});" class="recentwork_carousel__img"></div>
                            <span class="hov recentwork_carousel__hov"></span>
                        </div>
                        <div class="details recentwork_carousel__details">
                            <span class="recentwork_carousel__cat">Apps , Branding , WEB</span>
                            <h4 class="recentwork_carousel__crsl-title">Cross-unit meta-services</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="portfolio-item.html" class="recentwork_carousel__link" data-filter=".ecommerce_sort">
                        <div class="hover recentwork_carousel__hover">
                            <div style="height: 280px; background-image:url({{ asset('images/moon-270x203.jpg') }});" class="recentwork_carousel__img"></div>
                            <span class="hov recentwork_carousel__hov"></span>
                        </div>
                        <div class="details recentwork_carousel__details">
                            <span class="recentwork_carousel__cat">Branding , eCommerce , Illustration</span>
                            <h4 class="recentwork_carousel__crsl-title">Authoritatively benchmark virtual</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="portfolio-item.html" class="recentwork_carousel__link">
                        <div class="hover recentwork_carousel__hover">
                            <div style="height: 280px; background-image:url({{ asset('images/image-270x203.jpg') }});" class="recentwork_carousel__img"></div>
                            <span class="hov recentwork_carousel__hov"></span>
                        </div>
                        <div class="details recentwork_carousel__details">
                            <span class="recentwork_carousel__cat">eCommerce , Illustration</span>
                            <h4 class="recentwork_carousel__crsl-title">Continually unleash scalable</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="portfolio-item.html" class="recentwork_carousel__link">
                        <div class="hover recentwork_carousel__hover">
                            <div style="height: 280px; background-image:url({{ asset('images/untitled-1jhgggfd-270x203.png') }});" class="recentwork_carousel__img"></div>
                            <span class="hov recentwork_carousel__hov"></span>
                        </div>
                        <div class="details recentwork_carousel__details">
                            <span class="recentwork_carousel__cat">Apps , Illustration , WEB</span>
                            <h4 class="recentwork_carousel__crsl-title">Efficiently incubate sticky vortals</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class="recentwork_carousel__link">
                        <div class="hover recentwork_carousel__hover">
                            <div style="height: 280px; background-image:url({{ asset('images/ptf9-270x203.png') }});" class="recentwork_carousel__img"></div>
                            <span class="hov recentwork_carousel__hov"></span>
                        </div>
                        <div class="details recentwork_carousel__details">
                            <span class="recentwork_carousel__cat">Branding , eCommerce , Miscellaneous , WEB</span>
                            <h4 class="recentwork_carousel__crsl-title">Dramatically integrate parallel</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="portfolio-item.html" class="recentwork_carousel__link">
                        <div class="hover recentwork_carousel__hover">
                            <div style="height: 280px; background-image:url({{ asset('images/ptf5-270x203.png') }});" class="recentwork_carousel__img"></div>
                            <span class="hov recentwork_carousel__hov"></span>
                        </div>
                        <div class="details recentwork_carousel__details">
                            <span class="recentwork_carousel__cat">Apps , Miscellaneous , WEB</span>
                            <h4 class="recentwork_carousel__crsl-title">Dramatically extend world-class</h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="hg-portfolio-sortable">
        <section id="content" class="hg_section ptop-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div id="sidebar-widget" class="sidebar">
                            <div class="widget">
                                <h3 class="widgettitle title">PRODUCT SEARCH</h3>
                                <div class="widget_search">
                                    <div class="search gensearch__wrapper">
                                        <form id="searchform" class="gensearch__form" action="http://www.google.com/search" method="get" onSubmit="Gsitesearch(this)" target="_blank"><input id="s" name="s" maxlength="20" class="inputbox gensearch__input" type="text" size="20" value="SEARCH ..." onblur="if (this.value == '')
                                                    this.value = 'SEARCH ...';" onfocus="if (this.value == 'SEARCH ...')
                                                                this.value = '';"><button type="submit" id="searchsubmit" value="go" class="gensearch__submit glyphicon glyphicon-search"></button></form>
                                    </div>
                                </div>
                            </div>
                            <div id="kl-store_product_categories-2" class="widget kl-store widget_product_categories">
                                <h3 class="widgettitle title">SPECIALITY</h3>
                                <ul class="product-categories" id="portfolio-nav">
                                    <li class="cat-item current-cat" data-filter="*">
                                        <a href="#" >Cardiologists</a><span class="count">(9)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#" data-filter=".apps_sort">Gynaecologists‎</a><span class="count">(12)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#" data-filter=".miscellaneous_sort">Hygienists</a><span class="count" data-filter=".branding_sort">(10)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Parasitologists‎</a><span class="count">(6)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Ophthalmologists‎</a><span class="count">(9)</span>
                                    </li>
                                </ul>
                            </div>
                            <div id="kl-store_top_rated_products-2" class="widget kl-store widget_top_rated_products">
                                <h3 class="widgettitle title">STATE</h3>
                                <ul class="product_list_widget">
                                    <li class="cat-item">
                                        <a href="#">Tunisia</a><span class="count">(9)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Ben Arous‎</a><span class="count">(12)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Ariena</a><span class="count">(10)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Manouba‎</a><span class="count">(6)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="#">Nabeul</a><span class="count">(9)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div id="sorting" class="fixclear">
                            <span class="sortTitle"> Sort By: </span>
                            <ul id="sortBy" class="option-set " data-option-key="sortBy" data-default="">
                                <li><a href="#sortBy=name" data-option-value="name">Name</a></li>
                                <li><a href="#sortBy=date" data-option-value="date" class="selected">Date</a></li>
                            </ul>
                            <span class="sortTitle"> Direction: </span>
                            <ul id="sort-direction" class="option-set" data-option-key="sortAscending">
                                <li><a href="#sortAscending=true" data-option-value="true" class="selected">ASC</a></li>
                                <li><a href="#sortAscending=false" data-option-value="false">DESC</a></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                        <ul id="thumbs" class="fixclear" data-columns="3">
                            {% if doctors|length != 0 %}
                                {% for doctor in doctors %} 
                                    <li class="item kl-has-overlay miscellaneous_sort apps_sort even" data-date="02122016" style="padding-top: 10px;">
                                        <div class="inner-item" style="border-left:3px solid #2980b8;box-shadow: 0 0 5px rgba(0, 0, 0, .4);">
                                            <div class="doctor-header">
                                                <p>{{ doctor.username }}</p>
                                            </div>
                                            <div class="img-intro">
                                                <a href="{{ asset('images/frame.jpg') }}" data-type="image" data-lightbox="image" class="hoverLink"></a><img src="{{ asset('images/frame-800x600.jpg') }}" width="800" height="600" alt="">
                                                    <div class="overlay">
                                                        <div class="overlay-inner"><span class="glyphicon glyphicon-picture"></span></div>
                                                    </div>
                                            </div>
                                            <h4 class="title">
                                                <div class="descriptions-doctor">
                                                    <div class="speciality">  
                                                        <p class="champs-12 pos"><span class="glyphicon glyphicon-tags desc"></span><strong>  Cardiologists </strong></p>
                                                        <p class="champs-12 pos"><span class="glyphicon glyphicon-map-marker desc"></span><strong>  21,rue 4577 tunis </strong></p>
                                                        <p class="champs-12 pos"><span class="glyphicon glyphicon-earphone desc"></span><strong>  +(216) 25 775 079</strong></p>
                                                        <p class="champs-14"style="color:#2980b8;margin:10px 0 10px 120px;"><a href="{{ path ('Patient_Do_description',{'id':doctor.id}) }}"><span class="glyphicon glyphicon-plus"  style="margin-top: -10px;font-size:14px; color:#2980b8;"></span><strong>More info </strong></a></p>
                                                    </div>
                                                </div>
                                            </h4>
                                            <div class="clear"></div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="navigation">
                                {{ knp_pagination_render(doctors) }}
                            </div>
                        {% else %}
                            <span> No doctor in this category</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section> 
    </div>